@import url(~building-blocks/fonts.css);
@import url(~building-blocks/util.css);
@import url(~building-blocks/style/icons.css);
@import url(~building-blocks/style/layout.css);
@import url(~building-blocks/style/headers.css);
@import url(~building-blocks/style/tabs.css);
@import url(~building-blocks/style/lists.css);
@import url(~building-blocks/style/input_areas.css);

html,
body {
  height: 100%;
}

section[role="region"] > header:first-child {
  background-color: #F030B8;
}

.gaia-list header {
  color: #F030B8;
}

.gaia-list article > p {
  margin: 1em 1.5em;
}

.gaia-icon {
  font-size: 0;
  color: #000;
  text-decoration: none;
}

.gaia-icon:before {
  width: 4rem;
  height: 4em;
  font-size: 4rem;
}

.screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease;
}

.screen.right {
  transform: translateX(100%);
}

.screen.left {
  transform: translateX(-100%);
}

.screen.active {
  transform: translateX(0);
}

form {
  margin: 1rem 1.5rem;
}

form p {
  margin-bottom: 1rem;
}

.entry-thing-description {
  font-style: italic;
}

.entry-when {
  font-weight: 700;
}
