<section role="region">
  <header>
    <a href="#things" class="icon icon-close">close</a>
    <menu type="toolbar">
      <button data-hook="save">save</button>
    </menu>
    <h1>It happened!</h1>
  </header>
  <section class="gaia-list" role="region">
    <article>
      <header data-hook="name"></header>
      <form action="">
        <p class="entry-when" data-hook="when"></p>
        <p class="entry-thing-description" data-hook="description"></p>
        <p>Did this thing happen? Save it!</p>
        <textarea data-hook="notes" placeholder="Notes (optional)"></textarea>
      </form>
    </article>
  </section>
