<section role="region">
  <header>
    <a href="#things"><span class="icon icon-back">back</span></a>
    <h1>Entries</h1>
  </header>
  <section class="gaia-list fit scroll sticky">
    <article>
      <header data-hook="name"></header>
      <ul>
        <li class="vbox">
          <p>This thing has happened <span data-hook="entries-number"></span> <span data-hook="entries-inflection"></span>.</p>
          <p data-hook="description"></p>
        </li>
      </ul>
    </article>
    <article>
      <ul data-hook="entries"></ul>
    </article>
  </section>
</section>
