<section role="region">
  <header>
    <a href="#things" class="icon icon-close">close</a>
    <menu type="toolbar">
      <button data-hook="save">save</button>
    </menu>
    <h1>New thing</h1>
  </header>
  <form>
    <p>
      Create a new thing you want to keep track of.
    </p>
    <p>
      <input type="text" data-hook="name" placeholder="Name of thing">
    </p>
    <p>
      <textarea data-hook="description" placeholder="Description (optional)"></textarea>
    </p>
  </form>
</section>
