<div>
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#things/all/record"></a>
    <h1 class="title" data-hook="name">Add a new thing</h1>
  </header>
  <footer class="bar bar-standard bar-footer">
    <button class="btn btn-positive btn-block" data-hook="save">Save</button>
  </footer>
  <div class="content content-padded">
    <p data-hook="description"></p>
    <p>Did it happen? Save it!</p>
    <h4>When</h4>
    <p data-hook="when"></p>
    <h4>Notes (optional)</h4>
    <textarea rows="5" data-hook="notes"></textarea>
  </div>
</div>
