<div>
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#things/all/record"></a>
    <h1 class="title">Edit: <span data-hook="name-title"></span></h1>
  </header>
  <footer class="bar bar-standard bar-footer">
    <button class="btn btn-positive btn-block" data-hook="save">Save</button>
  </footer>
  <div class="content content-padded">
    <label for="thing-name">Name</label>
    <input id="thing-name" type="text" placeholder="Name of thing" data-hook="name">
    <label for="thing-description">Description (optional)</label>
    <textarea id="thing-description" rows="5" placeholder="Description of thing" data-hook="description"></textarea>
  </div>
</div>
